* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility Class */
.floated {
  float: left;
}
/* end Utility Class */

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #FFFF00;
  height: 150px;
}

.main-container {
  width: 100%;
  height: 500px;
  padding: 10px 0;
}

.main-container::after {
  content: '';
  display: table;
  clear: both;
}

.main-container > .side-sx {
  width: 25%;
  height: 70%;
}

.main-container > .main-content {
  width: 50%;
  height: 100%;
  padding: 0 20px;
}

.main-container .main-content .content {
  background-color: #800080;
}

.main-container > .side-dx {
  width: 25%;
  height: 95%;
}

.main-container > .side-sx, .main-container .side-dx .right-content .content {
  background-color: #D391E3;
}

.main-container .side-dx .right-content:first-child, .main-container .side-dx .right-content:nth-child(2) {
  height: 50%;
}

.main-container .side-dx .right-content:first-child {
  padding-bottom: 15px;
}

.main-container .main-content .content, .main-container .side-dx .right-content .content {
  height: 100%;
}

footer {
  background-color: #ADD8E6;
  height: 100px;
}
