* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #FFFF00;
  height: 150px;
}

.main-container {
  width: 100%;
  height: 500px;
}

section:first-child {
  width: 25%;
  height: 60%;
}

.side-sx {
  background-color: #D391E3;
  width: 100%;
  height: 100%;
}

section:nth-child(2) {
  width: 50%;
  height: 100%;
}

.main-content {
  background-color: #800080;
  width: 100%;
  height: 100%;
}

section:nth-child(3) {
  width: 25%;
  height: 90%;
}

.side-dx {
  width: 100%;
  height: 100%;
}

.side-dx div:first-child {
  background-color: #D391E3;
  width: 100%;
  height: 50%;
}

.side-dx div:nth-child(2) {
  background-color: #D391E3;
  width: 100%;
  height: 50%;
}

footer {
  background-color: #ADD8E6;
  height: 100px;
}
