* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility Class */
.floated {
  float: left;
}
/* end Utility Class */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #FFFF00;
  height: 150px;
}

.main-container {
  width: 100%;
  height: 500px;
}

.main-container::after {
  content: '';
  display: table;
  clear: both;
}

.main-container > .side-sx {
  width: 25%;
  height: 70%;
}

.main-container > .main-content {
  background-color: #800080;
  width: 50%;
  height: 100%;
}

.main-container > .side-dx {
  width: 25%;
  height: 95%;
}

.main-container > .side-sx, .main-container > .side-dx {
  background-color: #D391E3;
}

.main-container > .side-dx div {
  width: 100%;
  height: 50%;
}

footer {
  background-color: #ADD8E6;
  height: 100px;
}
